body{
    font-family: sans-serif;
}

.box{
    width: 300px;
    aspect-ratio: 1/1;
    background-color: coral;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.child{
    display: grid;
    place-items: center;
    font-size: 1.5em;
}

.one{
    grid-column: 2/3;
    grid-row: 2/3;
}
